@import 'mapbox';

@import 'normalize';
@import 'base';

$nigeria-green: #008753;

body {
  padding: 2vw;
  color: #334;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
}

// mapbox
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}

.title {
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  position: relative;
  top: -1.2rem;
  color: transparent;
  background-image: url(../logo.png);
  background-repeat: no-repeat;
  background-size: contain;

  span {
    font-weight: normal;
    font-size: .25em;
    position: relative;
    top: -.6rem;
    left: 3rem;
    color: $nigeria-green;
  }
}

#map {
  width: 56vw;
  height: calc(93vh - 3.5rem);
  overflow: visible;

  canvas {
    border-radius: 4px;
    border: 1px solid #ccd;
    // box-shadow: 0 6px 18px rgba(0, 0, 0, .15);
    outline: none;
    transition: border-color .25s ease-in-out;

    &:active {
      border: 1px solid $nigeria-green;
    }
  }
}

.mapboxgl-popup-content {
  padding-left: 1rem;
  padding-right: 1rem;

  div {
    margin-top: .6rem;
  }

  h2 {
    text-transform: capitalize;
    margin-bottom: 1.8rem;
  }

  h4 {
    display: inline-block;
    margin: 0;
  }
}

.mapboxgl-popup-content .reports {
  margin-top: 1.2rem;

  li {
    margin-top: .25rem;
  }
}

.indicator {
  $size: .5rem;

  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
}

.all-reports {
  font-size: .8rem;
  padding-left: 2vw;
  width: 40vw;
  height: 94vh;
  overflow-y: scroll;

  h2 {
    margin-top: 0;
    color: $nigeria-green;
  }

  li {
    border-top: 1px dashed #bbb;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: .3em;
    color: $nigeria-green;
    cursor: pointer;
    border-bottom: 2px solid $nigeria-green;
  }
}

.reports-list {
  display: flex;
  flex-direction: column-reverse; 
}

button {
  background: white;
  appearance: none;
  float: right;
  outline: 0;
  color: $nigeria-green;
  border: 1px solid $nigeria-green;
  border-radius: 4px;
  transition: background-color .25s;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;

  &:hover {
    background-color: mix($nigeria-green, white, 15%);
  }
}

.pdf {
  font-size: 2rem;
  float: none;
  margin-top: 1rem;
}

.seperator {
  margin-left: .6rem;
  margin-right: .6rem;
  color: #aaa;
}

.message {
  font-weight: bold;
}